@use '../../App.scss';

.service {
    .service-app {
        cursor: grab;
        background-color: #3f3fdb;
        padding: 2rem 0;
        margin-top: -3rem;
        margin-bottom: 3rem;
    }

    .service-item {
        text-align: center;
        color: #fff;
        padding: 0 1rem;

        &>img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .info-service {

            &>h3 {
                font-size: 1.8rem;
                margin: 0.5rem 0 3rem 0;
            }

            &>p {
                font-size: 1.4rem;
                font-weight: 400;
            }
        }
    }
}