.box-register {
    text-align: center;
    margin: 3rem 0;

    .box-register-title {
        &>h3 {
            font-size: 2.5rem;
            font-weight: 700;
            padding: 2rem 0;
        }
    }

    .page-register {
        border: 2px solid #ccc;
        display: inline-block;
        padding: 3rem 8rem;
        background-color: #fff;
        color: #333;
        text-align: left;
        border-radius: 4px;

        &>h3 {
            text-align: center;
            margin-bottom: 2rem;
        }


        &>form {
            .col-register {
                display: grid;
                margin-bottom: 2rem;

                &>label {
                    font-weight: 700;
                    color: #333;
                    font-size: 1.6rem;
                }

                &>input {
                    outline: none;
                    width: 100%;
                    border-radius: 16px;
                    border: 1px solid #ccc;
                    padding: 0.5rem 2rem;
                    font-size: 1.6rem;
                }
            }

            .col-submit {
                margin: 1rem 0 2rem 0;

                &>button {
                    outline: none;
                    border: 1px solid #ccc;
                    padding: 1rem 2rem;
                    font-size: 1.6rem;
                    font-weight: 600;
                    background-color: #daa785;
                    color: #fff;
                    border-radius: 2px;
                    transition: all 0.3s;
                    width: 100%;
                    border-radius: 16px;

                    &:hover {
                        background-color: #333;
                        border-color: #333;
                    }
                }
            }

            &>p {
                font-size: 1.6rem;
            }
        }

        .or-register {
            &>p {
                font-size: 1.6rem;
                margin: 4rem 0 2rem 0;
                text-align: center;
            }

            .image-register {
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}