@use '../../App.scss';

.footer {
    background: url('https://bizweb.dktcdn.net/100/427/775/themes/843442/assets/bg_footer.jpg?1646295510022');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2rem;
    padding: 4rem 0;

    .footer-item {
        padding: 2rem 0;

        &>h3 {
            font-size: 3rem;
            color: #daa785;
            font-weight: 600;
            font-family: "Ms Madi", cursive;
            margin-bottom: 2rem;
        }

        &>p {
            font-size: 1.6rem;
            color: #e4e2e1;
            line-height: 2.5rem;
        }

        &>span {
            font-size: 1.6rem;
            font-weight: 600;
            color: #fff;
            display: flex;
            margin: 0.5rem 0;

            &>p {
                font-size: 1.6rem;
                margin-left: 1rem;
                font-weight: 400;
                color: #e4e2e1;
            }
        }

        .form-group {
            margin-top: 2rem;
            position: relative;

            &>input {
                width: 100%;
                outline: none;
                border: 1px solid #ccc;
                height: 4.5rem;
                font-size: 1.8rem;
                padding: 0 1.2rem;
                border-radius: 3rem;
            }

            &>button {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                font-size: 1.8rem;
                outline: none;
                border: 1px solid #ccc;
                padding: 0 1.2rem;
                background-color: #daa785;
                border-radius: 3rem;
                transition: all 0.3s;
                color: #fff;
                font-weight: 600;

                &:hover {
                    background-color: #333;
                }
            }
        }
    }
}